body {
    margin: 0;
    text-align: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

.hero {
    background: url(images/kellokoski.jpg);
    background-size: cover;
    width: 720px;
    height: 343px;
    padding: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title, #below-title {
    background: #457B9D;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#antti-img {
    width: 100px;
}