body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

.hero {
    background: url(images/kellokoski.jpg);
    background-size: cover;
    height: 343px;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

#title, #below-title {
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 32px;
}

#below-title {
    background: #457B9D;
    font-size: 19px;
}

#activities-title {
    font-size: 24px;
    background: #F1FAEE;
    margin: 0;
    padding: 39px 0 0 0;
}

.activities {
    background: #F1FAEE;
    display: flex;
    flex-direction: row;
    padding: 54px;
    justify-content: space-between;
    align-items: stretch;
    color: #1D3557;
    height: 378px;
}

.activities-img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 2px solid #1D3557;
}

.guide-box {
    display: flex;
    border-bottom: 5px solid #1D3557;
    margin: 50px 150px;
    width: 400px;
    height: 294px;
    background: #A8DADC;
    border-radius: 10px;
    padding: 10px;
    color: #1D3557;
}

#antti-img {
    width: 100px;
    padding: 10px;
    width: 180px;
    height: 248px;
    border-radius: 10%;
}